Chameleon==2.8.0
Mako==0.6.2
MarkupSafe==0.15
PasteDeploy==1.5.0
Pygments==1.5
WebOb==1.2b3
distribute==0.6.25
nose==1.1.2
pyramid==1.3
pyramid-debugtoolbar==1.0
repoze.lru==0.4
translationstring==1.1
venusian==1.0a3
waitress==1.4.2
wsgiref==0.1.2
zope.deprecation==3.5.1
zope.interface==3.8.0
